.stock-photo-contact-us-using-m-icon {
  position: absolute;
  top: 27.63rem;
  left: 0.13rem;
  width: 120rem;
  height: 38.94rem;
  object-fit: cover;
}
.contact-us-child3 {
  position: absolute;
  top: 41.25rem;
  left: 21.69rem;
  border-radius: 30px;
  background-color: #efefef;
  width: 45.31rem;
  height: 37.94rem;
  opacity: 0.7;
}
.contact-us-child4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 120.06rem;
  height: 28.56rem;
}
.footer-new-inner {
  position: absolute;
  top: 12.56rem;
  left: -68.37rem;
  width: 53.75rem;
  height: 23.44rem;
}
.footer-new-child1 {
  position: absolute;
  top: 39.81rem;
  left: 99.69rem;
  border-radius: var(--br-3xs);
  background-color: var(--color-gold-300);
  width: 10rem;
  height: 3.5rem;
}
.span2 {
  color: var(--color-snow-200);
}
.copyright-2023-gbjbuzz-container5 {
  line-break: anywhere;
  width: 100%;
}
.copyright-2023-gbjbuzz-container4 {
  position: absolute;
  top: 52.13rem;
  left: 8.25rem;
  font-size: var(--font-size-lgi);
  display: flex;
  align-items: center;
  width: 23.44rem;
  height: 1.44rem;
}
.facebook-icon2,
.instagram-icon2,
.linkedin-icon2 {
  position: absolute;
  top: 39.81rem;
  left: 13.75rem;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}
.instagram-icon2,
.linkedin-icon2 {
  left: 16.44rem;
}
.instagram-icon2 {
  left: 19.31rem;
}
.facebook-icon4,
.icons,
.youtube-icon2 {
  position: absolute;
  width: 2.31rem;
  height: 2rem;
}
.youtube-icon2 {
  top: 0;
  left: 0;
  object-fit: cover;
}
.facebook-icon4,
.icons {
  top: 39.81rem;
  left: 22.06rem;
}
.facebook-icon4 {
  top: 43.06rem;
  left: 14rem;
  width: 2rem;
  object-fit: cover;
}
.linkedin-icon4 {
  left: 16.69rem;
  width: 2rem;
  object-fit: cover;
}
.icons2,
.instagram-icon4,
.linkedin-icon4 {
  position: absolute;
  top: 43.06rem;
  height: 2rem;
}
.instagram-icon4 {
  left: 19.56rem;
  width: 2rem;
  object-fit: cover;
}
.icons2 {
  left: 22.31rem;
  width: 2.31rem;
}
.div50,
.gbjbuzzgmailcom2 {
  position: absolute;
  text-align: left;
}
.div50 {
  top: 39.19rem;
  left: 86.25rem;
  font-size: var(--font-size-mid);
}
.gbjbuzzgmailcom2 {
  top: 41.69rem;
  left: 86.56rem;
}
.contact-us6 {
  position: absolute;
  top: 41.06rem;
  left: 100.81rem;
  color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.25rem;
  height: 1rem;
}
.line-icon {
  position: absolute;
  top: 14.81rem;
  left: 45.81rem;
  width: 10.06rem;
  height: 0.18rem;
}
.footer-new-child2 {
  position: absolute;
  top: 18.31rem;
  left: 13.75rem;
  width: 0.13rem;
  height: 16.88rem;
}
.footer-new-child3,
.footer-new-child4 {
  position: absolute;
  top: 17.75rem;
  left: 81.63rem;
  width: 0.06rem;
  height: 10.49rem;
}
.footer-new-child4 {
  top: 18.63rem;
  left: 45.81rem;
  height: 11.07rem;
}
.footer-new-child5,
.footer-new-child6,
.footer-new-child7,
.line-div {
  position: absolute;
  top: 18.34rem;
  left: 13.78rem;
  border-top: 1px solid var(--color-gold-300);
  box-sizing: border-box;
  width: 0.75rem;
  height: 0.06rem;
}
.footer-new-child5,
.footer-new-child6,
.footer-new-child7 {
  top: 20.09rem;
}
.footer-new-child6,
.footer-new-child7 {
  top: 21.84rem;
}
.footer-new-child7 {
  top: 23.59rem;
  left: 13.72rem;
}
.footer-new-child10,
.footer-new-child11,
.footer-new-child12,
.footer-new-child13,
.footer-new-child14,
.footer-new-child8,
.footer-new-child9 {
  position: absolute;
  top: 25.28rem;
  left: 13.78rem;
  border-top: 1px solid var(--color-gold-300);
  box-sizing: border-box;
  width: 0.75rem;
  height: 0.06rem;
}
.footer-new-child10,
.footer-new-child11,
.footer-new-child12,
.footer-new-child13,
.footer-new-child14,
.footer-new-child9 {
  top: 27.03rem;
}
.footer-new-child10,
.footer-new-child11,
.footer-new-child12,
.footer-new-child13,
.footer-new-child14 {
  top: 28.78rem;
}
.footer-new-child11,
.footer-new-child12,
.footer-new-child13,
.footer-new-child14 {
  top: 30.53rem;
}
.footer-new-child12,
.footer-new-child13,
.footer-new-child14 {
  top: 32.22rem;
}
.footer-new-child13,
.footer-new-child14 {
  top: 35.16rem;
}
.footer-new-child14 {
  top: 33.47rem;
}
.footer-new-child15,
.footer-new-child16,
.footer-new-child17,
.footer-new-child18,
.footer-new-child19,
.footer-new-child20,
.footer-new-child21 {
  position: absolute;
  top: 17.78rem;
  left: 81.66rem;
  border-top: 1px solid var(--color-gold-300);
  box-sizing: border-box;
  width: 0.75rem;
  height: 0.06rem;
}
.footer-new-child16,
.footer-new-child17,
.footer-new-child18,
.footer-new-child19,
.footer-new-child20,
.footer-new-child21 {
  top: 19.53rem;
}
.footer-new-child17,
.footer-new-child18,
.footer-new-child19,
.footer-new-child20,
.footer-new-child21 {
  top: 21.28rem;
}
.footer-new-child18,
.footer-new-child19,
.footer-new-child20,
.footer-new-child21 {
  top: 23.03rem;
}
.footer-new-child19,
.footer-new-child20,
.footer-new-child21 {
  top: 24.72rem;
  left: 81.59rem;
}
.footer-new-child20,
.footer-new-child21 {
  top: 26.47rem;
  left: 81.66rem;
}
.footer-new-child21 {
  top: 28.22rem;
  left: 81.59rem;
}
.footer-new-child22,
.footer-new-child23,
.footer-new-child24,
.footer-new-child25,
.footer-new-child26,
.footer-new-child27,
.footer-new-child28 {
  position: absolute;
  top: 19.23rem;
  left: 45.78rem;
  border-top: 1px solid var(--color-gold-300);
  box-sizing: border-box;
  width: 0.75rem;
  height: 0.06rem;
}
.footer-new-child23,
.footer-new-child24,
.footer-new-child25,
.footer-new-child26,
.footer-new-child27,
.footer-new-child28 {
  top: 20.98rem;
}
.footer-new-child24,
.footer-new-child25,
.footer-new-child26,
.footer-new-child27,
.footer-new-child28 {
  top: 22.73rem;
}
.footer-new-child25,
.footer-new-child26,
.footer-new-child27,
.footer-new-child28 {
  top: 24.48rem;
}
.footer-new-child26,
.footer-new-child27,
.footer-new-child28 {
  top: 26.17rem;
}
.footer-new-child27,
.footer-new-child28 {
  top: 27.92rem;
}
.footer-new-child28 {
  top: 29.66rem;
}
.services11 {
  font-weight: 600;
}
.digital-transformation4,
.services10,
.useful-links2 {
  position: absolute;
  top: 13.38rem;
  left: 13.75rem;
  font-size: var(--font-size-7xl);
}
.digital-transformation4,
.useful-links2 {
  top: 12.94rem;
  left: 45.81rem;
  font-weight: 600;
}
.digital-transformation4 {
  top: 12.81rem;
  left: 78.25rem;
}
.footer-new-child29,
.footer-new-child30 {
  position: absolute;
  top: 15.19rem;
  left: 13.75rem;
  width: 7.13rem;
  height: 0.19rem;
}
.footer-new-child30 {
  top: 14.56rem;
  left: 78.25rem;
  width: 15.94rem;
}
.footer-new-child31,
.footer-new-child32 {
  position: absolute;
  top: 8.14rem;
  left: 8.25rem;
  width: 100.31rem;
  height: 0.13rem;
}
.footer-new-child32 {
  top: 50.38rem;
  width: 102rem;
}
.icon-envelope-closed {
  position: absolute;
  height: 2.37%;
  width: 1.47%;
  top: 70.06%;
  right: 28.32%;
  bottom: 27.57%;
  left: 70.21%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.image-1-icon {
  position: absolute;
  top: 38.5rem;
  left: 31.19rem;
  width: 8.69rem;
  height: 6.94rem;
  object-fit: cover;
}
.best-kept-secrets {
  margin: 0;
}
.best-kept-secrets-container {
  position: absolute;
  top: 157.13rem;
  left: -294.25rem;
  text-align: left;
  display: flex;
  align-items: center;
  width: 38.38rem;
}
.footer-new-child33,
.footer-new-child34 {
  position: absolute;
  top: 43.19rem;
  left: 40.69rem;
  border-radius: var(--br-2xs);
  width: 27.25rem;
  height: 2.13rem;
}
.footer-new-child34 {
  left: 68.5rem;
  width: 5.75rem;
}
.footer-new1 {
  position: absolute;
  top: 205.31rem;
  left: -0.31rem;
  background-color: var(--color-black);
  width: 120rem;
  height: 59.5rem;
  overflow: hidden;
  font-size: var(--font-size-sm);
  color: var(--color-gold-300);
}
.contact-us7 {
  position: absolute;
  top: 14.06rem;
  left: 39.5rem;
  font-size: var(--font-size-67xl);
  color: var(--color-white);
}
.about2,
.pricing2 {
  position: absolute;
  height: 2.88rem;
}
.pricing2 {
  top: 0;
  left: 17.06rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.38rem;
}
.about2 {
  left: 0;
  width: 5.63rem;
}
.about2,
.contact2,
.services12 {
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact2 {
  position: absolute;
  left: 24.75rem;
  width: 7.38rem;
  height: 2.88rem;
}
.services12 {
  left: 8rem;
  width: 8rem;
}
.blogs3,
.nav-bar2,
.services12 {
  position: absolute;
  height: 2.88rem;
}
.blogs3 {
  top: 0;
  left: 35.06rem;
  font-family: var(--font-montserrat);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.25rem;
}
.nav-bar2 {
  top: 3.38rem;
  left: 37.44rem;
  width: 39.31rem;
  font-size: var(--font-size-4xl);
  font-family: var(--font-inter);
}
.gbjbuzz-logo-22 {
  position: absolute;
  top: 2.81rem;
  left: 2.56rem;
  border-radius: var(--br-xs);
  width: 8.88rem;
  height: 5.06rem;
  object-fit: cover;
}
.contact-us-child5 {
  position: absolute;
  top: 41.25rem;
  left: 20.88rem;
  border-radius: 9px;
  background-color: var(--color-gainsboro);
  width: 78.06rem;
  height: 39.31rem;
  opacity: 0.6;
}
.send-inquriy {
  position: absolute;
  top: 74.69rem;
  left: 23rem;
  border-radius: var(--br-7xs);
  background-color: var(--color-gold-200);
  width: 8.63rem;
  height: 2.88rem;
}
.choose-file,
.contact-us-child6 {
  position: absolute;
  box-sizing: border-box;
}
.contact-us-child6 {
  top: 61.94rem;
  left: 22.44rem;
  background-color: var(--color-gainsboro);
  border: 1px dashed var(--color-black);
  width: 43.13rem;
  height: 3.5rem;
}
.choose-file {
  top: 62.88rem;
  left: 23.69rem;
  background-color: #d8d6d6;
  border: 0.5px solid var(--color-black);
  width: 5.44rem;
  height: 1.63rem;
}
.contact-us-child7 {
  position: absolute;
  top: 66.13rem;
  left: 22.69rem;
  background-color: var(--color-gainsboro);
  width: 42.88rem;
  height: 6.94rem;
}
.name1,
.name2 {
  position: absolute;
}
.name1 {
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 21.25rem;
  height: 2.13rem;
}
.name2 {
  top: 0.5rem;
  left: 0.75rem;
  font-weight: 300;
}
.budget,
.name {
  position: absolute;
  height: 2.13rem;
}
.name {
  top: 54.06rem;
  left: 22.44rem;
  width: 21.25rem;
}
.budget {
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 20.88rem;
}
.budget-in-usd1 {
  position: absolute;
  top: 0.38rem;
  left: 0.06rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 1.38rem;
}
.budget-in-usd,
.mail-id1 {
  position: absolute;
  height: 2.13rem;
}
.budget-in-usd {
  top: 57rem;
  left: 44.69rem;
  width: 20.88rem;
}
.mail-id1 {
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 21.38rem;
}
.mail-id2 {
  position: absolute;
  top: 0.63rem;
  left: 0.69rem;
  font-weight: 300;
}
.mail-id,
.number1,
.number2 {
  position: absolute;
  height: 2.13rem;
}
.mail-id {
  top: 57rem;
  left: 22.31rem;
  width: 21.38rem;
}
.number1,
.number2 {
  top: 0;
  background-color: var(--color-gainsboro);
}
.number1 {
  left: 9.13rem;
  width: 11.75rem;
}
.number2 {
  left: 0;
  width: 7.56rem;
}
.country-code,
.div51 {
  position: absolute;
  top: 0.69rem;
  left: 10.06rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 7.88rem;
  height: 0.94rem;
}
.country-code {
  top: 0.56rem;
  left: 0.56rem;
  text-align: center;
  justify-content: center;
  width: 6.56rem;
  height: 1.06rem;
}
.intro-line-2,
.number {
  position: absolute;
  text-align: left;
}
.number {
  top: 54.06rem;
  left: 44.69rem;
  width: 20.88rem;
  height: 2.13rem;
}
.intro-line-2 {
  top: 46.44rem;
  left: 22.69rem;
  font-size: var(--font-size-smi);
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 41.5rem;
}
.for-project-queries {
  position: absolute;
  top: 42.75rem;
  left: 22.5rem;
  font-size: var(--font-size-9xl);
}
.mail-to-sales {
  position: absolute;
  top: 14.19rem;
  left: 0.5rem;
  font-weight: 600;
}
.get-in-touch {
  position: absolute;
  top: 0;
  left: 0.38rem;
  font-size: var(--font-size-lgi);
  letter-spacing: 0.15em;
  display: flex;
  color: var(--color-gold-200);
  align-items: center;
  width: 12.13rem;
}
.for {
  font-weight: 500;
}
.for-work-inquiry-container {
  position: absolute;
  top: 1.44rem;
  left: 0.31rem;
  font-size: var(--font-size-10xl);
}
.mail-to-our {
  position: absolute;
  top: 5.13rem;
  left: 0.38rem;
  font-weight: 600;
}
.in-91 {
  position: absolute;
  top: 12.25rem;
  left: 0;
  font-weight: 500;
}
.salesgbjbuzzcom,
.skype-gbjbuzz {
  position: absolute;
  top: 10rem;
  left: 0.38rem;
  font-weight: 500;
}
.salesgbjbuzzcom {
  top: 7.75rem;
}
.for-career-inquiry-container {
  position: absolute;
  top: 16.75rem;
  left: 0.38rem;
  font-size: var(--font-size-10xl-5);
}
.connect-with-us-container {
  position: absolute;
  top: 24.44rem;
  left: 0;
  font-size: var(--font-size-10xl-5);
}
.text-connect {
  position: absolute;
  top: 43rem;
  left: 70.5rem;
  width: 26.69rem;
  height: 26.69rem;
  text-align: left;
  font-size: var(--font-size-mid-5);
}
.instagram-icon6,
.youtube-icon6,
.youtube-icon7 {
  position: absolute;
  top: 0;
  left: 5.38rem;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}
.youtube-icon6,
.youtube-icon7 {
  left: 18.06rem;
  width: 2.31rem;
}
.youtube-icon7 {
  left: 8.38rem;
  width: 2.56rem;
}
.instagram-icon7 {
  position: absolute;
  left: 15.06rem;
  height: 2rem;
}
.instagram-icon7,
.linkedin-icon6,
.linkedin-icon7 {
  top: 0;
  width: 2rem;
  object-fit: cover;
}
.linkedin-icon6 {
  position: absolute;
  left: 2.75rem;
  height: 2rem;
}
.linkedin-icon7 {
  left: 12.06rem;
}
.facebook-icon6,
.icon-2,
.linkedin-icon7 {
  position: absolute;
  height: 2rem;
}
.facebook-icon6 {
  top: 0;
  left: 0;
  width: 2rem;
  object-fit: cover;
}
.icon-2 {
  top: 70.31rem;
  left: 70.5rem;
  width: 20.38rem;
}
.intro-line-1 {
  position: absolute;
  top: 36.69rem;
  left: 25.31rem;
  font-size: var(--font-size-6xl);
  color: var(--color-gray-100);
}
.say-hello {
  position: absolute;
  top: 30.13rem;
  left: 42.25rem;
  font-size: var(--font-size-69xl);
  display: flex;
  color: #0e0e0e;
  align-items: center;
  justify-content: center;
  width: 42.44rem;
  height: 6.56rem;
}
.choose-file1,
.send-inquiry {
  position: absolute;
  font-size: var(--font-size-xs);
  text-align: left;
}
.choose-file1 {
  top: 63.38rem;
  left: 24.19rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 4.06rem;
  height: 0.63rem;
}
.send-inquiry {
  top: 75.69rem;
  left: 24.25rem;
  font-weight: 500;
}
.contact-us-child8 {
  position: absolute;
  top: 137.5rem;
  left: 12.69rem;
  border-radius: var(--br-13xl);
  background-color: var(--color-gainsboro);
  width: 91.31rem;
  height: 36.13rem;
}
.we-have-crafted {
  position: absolute;
  top: 144.31rem;
  left: 26.25rem;
  font-size: var(--font-size-mid);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64.25rem;
  height: 7.5rem;
}
.our-esteemed-clients {
  position: absolute;
  top: 141.75rem;
  left: 47.19rem;
  font-size: var(--font-size-15xl);
  font-weight: 600;
  text-align: left;
}
.image-50-icon {
  position: absolute;
  top: 155.56rem;
  left: 21.31rem;
  width: 11.75rem;
  height: 11.63rem;
  object-fit: cover;
}
.image-51-icon,
.image-52-icon,
.image-53-icon,
.image-55-icon,
.image-56-icon,
.image-57-icon {
  position: absolute;
  top: 154.38rem;
  left: 39.38rem;
  width: 14.88rem;
  height: 5.63rem;
  object-fit: cover;
}
.image-52-icon,
.image-53-icon,
.image-55-icon,
.image-56-icon,
.image-57-icon {
  left: 60.5rem;
}
.image-53-icon,
.image-55-icon,
.image-56-icon,
.image-57-icon {
  left: 81.13rem;
}
.image-55-icon,
.image-56-icon,
.image-57-icon {
  top: 164.38rem;
}
.image-56-icon,
.image-57-icon {
  left: 60.5rem;
}
.image-57-icon {
  left: 39.38rem;
}
.consultance-child {
  position: absolute;
  top: 0;
  left: 4.06rem;
  border-radius: var(--br-13xl);
  width: 77.63rem;
  height: 31.69rem;
}
.consultance-inner,
.consultance-item {
  position: absolute;
  top: 25.06rem;
  left: 68.13rem;
  width: 6.25rem;
  height: 6.25rem;
  opacity: 0.2;
}
.consultance-inner {
  left: 71.25rem;
  opacity: 0.3;
}
.send-inquriy1 {
  position: absolute;
  top: 26.38rem;
  left: 31.88rem;
  border-radius: var(--br-7xs);
  background-color: #ffc900;
  backdrop-filter: blur(150px);
  width: 22.94rem;
  height: 3.63rem;
}
.skype-gbjbuzz-container {
  position: absolute;
  top: 16.25rem;
  left: 17.44rem;
  line-height: 2.19rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 19.44rem;
  height: 6.94rem;
}
.frame-icon {
  position: absolute;
  top: 24.31rem;
  left: 0;
  width: 12.38rem;
  height: 11.44rem;
  overflow: hidden;
  opacity: 0.2;
}
.get-your-free-container,
.the-gbj-buzz {
  position: absolute;
  font-weight: 600;
  text-align: center;
}
.the-gbj-buzz {
  top: 9.88rem;
  left: 21.81rem;
  font-size: var(--font-size-2xl);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43.44rem;
}
.get-your-free-container {
  top: 3.63rem;
  left: 29.25rem;
}
.india-91-72970-00999-salest-container {
  position: absolute;
  top: 16.63rem;
  left: 50.25rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 23.44rem;
}
.consultance {
  position: absolute;
  top: 91.69rem;
  left: 16.31rem;
  width: 81.69rem;
  height: 35.75rem;
  text-align: left;
  font-size: var(--font-size-10xl);
}
.image-46-icon {
  position: absolute;
  top: 181.25rem;
  left: 17rem;
  width: 84.88rem;
  height: 15.38rem;
  object-fit: cover;
}
.contact-us5 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 264.81rem;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
