.cyber-sercurity-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 120.06rem;
  height: 30.19rem;
}
.about4,
.pricing4 {
  position: absolute;
  height: 2.88rem;
}
.pricing4 {
  top: 0;
  left: 17.06rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.38rem;
}
.about4 {
  left: 0;
  width: 5.63rem;
}
.about4,
.contact4,
.services16 {
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact4 {
  position: absolute;
  left: 24.75rem;
  width: 7.38rem;
  height: 2.88rem;
}
.services16 {
  left: 8rem;
  width: 8rem;
}
.blogs8,
.nav-bar4,
.services16 {
  position: absolute;
  height: 2.88rem;
}
.blogs8 {
  top: 0;
  left: 35.06rem;
  font-family: var(--font-montserrat);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.25rem;
}
.nav-bar4 {
  top: 3.38rem;
  left: 37.5rem;
  width: 39.31rem;
  text-align: center;
  font-size: var(--font-size-4xl);
  font-family: var(--font-inter);
}
.gbjbuzz-logo-24 {
  position: absolute;
  top: 2.81rem;
  left: 2.63rem;
  border-radius: var(--br-xs);
  width: 8.88rem;
  height: 5.06rem;
  object-fit: cover;
}
.footer-main-page-child {
  position: absolute;
  top: 12.56rem;
  left: -68.37rem;
  width: 53.75rem;
  height: 23.44rem;
}
.span6 {
  color: var(--color-snow-200);
}
.copyright-2023-gbjbuzz-container9 {
  line-break: anywhere;
  width: 100%;
}
.copyright-2023-gbjbuzz-container8 {
  position: absolute;
  top: 52.13rem;
  left: 8.25rem;
  font-size: var(--font-size-lgi);
  display: flex;
  align-items: center;
  width: 23.44rem;
  height: 1.44rem;
}
.footer-main-page-item {
  position: absolute;
  top: 50.38rem;
  left: 8.25rem;
  width: 102rem;
  height: 0.13rem;
}
.contact-us-child9 {
  position: absolute;
  top: 0.19rem;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gold-300);
  width: 10rem;
  height: 3.5rem;
}
.contact-us10 {
  position: absolute;
  top: 1.44rem;
  left: 0.31rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.25rem;
  height: 1rem;
}
.contact-us-child10,
.contact-us-child11,
.contact-us9 {
  position: absolute;
  top: 0.19rem;
  left: 5.94rem;
  width: 2.35rem;
  height: 3.5rem;
}
.contact-us-child11,
.contact-us9 {
  left: 6.56rem;
}
.contact-us9 {
  top: 39.63rem;
  left: 100.13rem;
  width: 10rem;
  height: 3.88rem;
  color: var(--color-black);
}
.gbjbuzzgmailcom4 {
  position: absolute;
  top: 41.69rem;
  left: 86.56rem;
  text-align: left;
}
.vector-icon2 {
  position: absolute;
  height: 0.28%;
  width: 0.25%;
  top: 99.72%;
  right: 99.75%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.image-22-icon2 {
  position: absolute;
  top: -469.12rem;
  left: 760rem;
  width: 33.13rem;
  height: 24.88rem;
  object-fit: cover;
}
.mail2 {
  position: absolute;
  height: 849.36%;
  width: 589.95%;
  top: -775.41%;
  right: -560.94%;
  bottom: 26.05%;
  left: 70.98%;
}
.div60,
.phone-icon2 {
  position: absolute;
  top: 39.19rem;
}
.div60 {
  left: 86.56rem;
  font-size: var(--font-size-mid);
  text-align: left;
}
.phone-icon2 {
  left: 84.25rem;
  width: 1.75rem;
  height: 1.38rem;
  object-fit: cover;
}
.search-box-child5 {
  position: absolute;
  top: 0.11rem;
  left: 28.44rem;
  border-radius: var(--br-2xs);
  width: 5.75rem;
  height: 2.13rem;
}
.search-box-child6 {
  position: absolute;
  top: 0.11rem;
  left: 32.36rem;
  width: 0.99rem;
  height: 2.16rem;
  opacity: 0.71;
}
.search-box-child7,
.search-box-child8 {
  position: absolute;
  top: 0.11rem;
  height: 2.13rem;
}
.search-box-child7 {
  left: 0;
  border-radius: var(--br-2xs);
  width: 27.25rem;
}
.search-box-child8 {
  left: 31.94rem;
  width: 0.97rem;
  opacity: 0.71;
}
.serach2 {
  position: absolute;
  top: 0.67rem;
  left: 28.44rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.75rem;
  height: 1rem;
}
.search-box2 {
  position: absolute;
  top: 43.08rem;
  left: 40.69rem;
  width: 34.19rem;
  height: 2.37rem;
  color: var(--color-black);
}
.gbj-icon2,
.medium-monogram-icon2 {
  position: absolute;
  top: 38.56rem;
  left: 30.81rem;
  width: 8.69rem;
  height: 6.94rem;
  object-fit: cover;
}
.medium-monogram-icon2 {
  top: 2.25rem;
  left: 6.5rem;
  width: 2.31rem;
  height: 2rem;
}
.pinterest-icon2 {
  top: 2.25rem;
  left: 4.19rem;
}
.pinterest-icon2,
.twitter-squared-icon2,
.youtube-icon12 {
  position: absolute;
  width: 2.31rem;
  height: 2rem;
  object-fit: cover;
}
.twitter-squared-icon2 {
  top: 2.25rem;
  left: 1.88rem;
}
.youtube-icon12 {
  top: 0;
  left: 7.69rem;
}
.linkedin-icon12 {
  top: 0;
  left: 4.88rem;
}
.facebook-icon11,
.instagram-icon12,
.linkedin-icon12 {
  position: absolute;
  width: 2.31rem;
  height: 2rem;
  object-fit: cover;
}
.instagram-icon12 {
  top: 0.06rem;
  left: 2.31rem;
}
.facebook-icon11 {
  top: 0;
  left: 0;
}
.social-icon2,
.vertical-32 {
  position: absolute;
  top: 39.81rem;
  left: 14rem;
  width: 10rem;
  height: 4.25rem;
}
.vertical-32 {
  top: 4.94rem;
  left: 3.38rem;
  width: 0.06rem;
  height: 10.49rem;
}
.div61,
.div62,
.div63,
.div64,
.div65,
.div66,
.div67 {
  position: absolute;
  top: 15.41rem;
  left: 3.34rem;
  border-top: 1px solid var(--color-gold-300);
  box-sizing: border-box;
  width: 0.75rem;
  height: 0.06rem;
}
.div62,
.div63,
.div64,
.div65,
.div66,
.div67 {
  top: 13.66rem;
  left: 3.41rem;
}
.div63,
.div64,
.div65,
.div66,
.div67 {
  top: 11.91rem;
  left: 3.34rem;
}
.div64,
.div65,
.div66,
.div67 {
  top: 10.22rem;
  left: 3.41rem;
}
.div65,
.div66,
.div67 {
  top: 8.47rem;
}
.div66,
.div67 {
  top: 6.72rem;
}
.div67 {
  top: 4.97rem;
}
.underlin-32 {
  position: absolute;
  top: 1.75rem;
  left: 0;
  width: 15.94rem;
  height: 0.19rem;
}
.digital-transformation7 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.digital-transformation6 {
  position: absolute;
  top: 12.81rem;
  left: 78.25rem;
  width: 23.44rem;
  height: 15.44rem;
  font-size: var(--font-size-7xl);
}
.div68,
.vertical-2-icon2 {
  position: absolute;
  top: 4.81rem;
  left: -0.03rem;
  width: 0.09rem;
  height: 10.51rem;
}
.div68 {
  top: 15.28rem;
  border-top: 1px solid var(--color-gold-300);
  box-sizing: border-box;
  width: 0.75rem;
  height: 0.06rem;
}
.pinterest1 {
  position: absolute;
  top: 12.75rem;
  left: 1.31rem;
  font-weight: 600;
}
.div69 {
  position: absolute;
  top: 13.54rem;
  left: -0.03rem;
  border-top: 1px solid var(--color-gold-300);
  box-sizing: border-box;
  width: 0.75rem;
  height: 0.06rem;
}
.twitter1 {
  position: absolute;
  top: 11.06rem;
  left: 1.31rem;
  font-weight: 600;
}
.div70 {
  position: absolute;
  top: 11.79rem;
  left: -0.03rem;
  border-top: 1px solid var(--color-gold-300);
  box-sizing: border-box;
  width: 0.75rem;
  height: 0.06rem;
}
.linked-in1 {
  position: absolute;
  top: 9.38rem;
  left: 1.31rem;
  font-weight: 600;
}
.div71 {
  position: absolute;
  top: 10.11rem;
  left: -0.03rem;
  border-top: 1px solid var(--color-gold-300);
  box-sizing: border-box;
  width: 0.75rem;
  height: 0.06rem;
}
.you-tube1 {
  position: absolute;
  top: 7.69rem;
  left: 1.31rem;
  font-weight: 600;
}
.div72 {
  position: absolute;
  top: 8.36rem;
  left: -0.03rem;
  border-top: 1px solid var(--color-gold-300);
  box-sizing: border-box;
  width: 0.75rem;
  height: 0.06rem;
}
.facebook1 {
  position: absolute;
  top: 5.94rem;
  left: 1.5rem;
  font-weight: 600;
}
.div73 {
  position: absolute;
  top: 6.61rem;
  left: -0.03rem;
  border-top: 1px solid var(--color-gold-300);
  box-sizing: border-box;
  width: 0.75rem;
  height: 0.06rem;
}
.instagram1 {
  top: 4rem;
  left: 1.5rem;
  font-weight: 600;
}
.div74,
.instagram1,
.medium2 {
  position: absolute;
}
.div74 {
  top: 4.86rem;
  left: -0.03rem;
  border-top: 1px solid var(--color-gold-300);
  box-sizing: border-box;
  width: 0.75rem;
  height: 0.06rem;
}
.medium2 {
  top: 14.5rem;
  left: 1.31rem;
  font-weight: 600;
}
.under-line-22 {
  position: absolute;
  top: 1.88rem;
  left: 0;
  width: 10.06rem;
  height: 0.18rem;
}
.useful-links4,
.usefull-link2 {
  position: absolute;
  width: 12.13rem;
}
.useful-links4 {
  top: 0;
  left: 0;
  font-size: var(--font-size-7xl);
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.88rem;
}
.usefull-link2 {
  top: 12.94rem;
  left: 45.81rem;
  height: 15.88rem;
  text-align: left;
  font-size: var(--font-size-lg);
}
.div75,
.vertecal-12 {
  position: absolute;
  top: 4.94rem;
  left: -0.02rem;
  width: 0.09rem;
  height: 12.25rem;
}
.div75 {
  top: 17.16rem;
  border-top: 1px solid var(--color-gold-300);
  box-sizing: border-box;
  width: 0.75rem;
  height: 0.06rem;
}
.adv-camping3 {
  position: absolute;
  top: 16.5rem;
  left: 1.26rem;
  font-weight: 600;
}
.div76 {
  position: absolute;
  top: 15.41rem;
  left: -0.02rem;
  border-top: 1px solid var(--color-gold-300);
  box-sizing: border-box;
  width: 0.75rem;
  height: 0.06rem;
}
.ai-automation3 {
  position: absolute;
  top: 14.69rem;
  left: 1.13rem;
  font-weight: 600;
  text-align: left;
}
.icon4 {
  position: absolute;
  top: 13.63rem;
  left: 0.01rem;
  width: 0.69rem;
  height: 0.06rem;
}
.seo-search-engine3 {
  position: absolute;
  top: 13.06rem;
  left: 1.2rem;
  font-weight: 600;
}
.div77 {
  position: absolute;
  top: 11.91rem;
  left: -0.02rem;
  border-top: 1px solid var(--color-gold-300);
  box-sizing: border-box;
  width: 0.75rem;
  height: 0.06rem;
}
.web-development3 {
  position: absolute;
  top: 11.25rem;
  left: 1.2rem;
  font-weight: 600;
}
.div78 {
  position: absolute;
  top: 10.22rem;
  left: -0.02rem;
  border-top: 1px solid var(--color-gold-300);
  box-sizing: border-box;
  width: 0.75rem;
  height: 0.06rem;
}
.mobile-app-development3 {
  position: absolute;
  top: 9.63rem;
  left: 1.2rem;
  font-weight: 600;
}
.div79 {
  position: absolute;
  top: 8.47rem;
  left: 0.04rem;
  border-top: 1px solid var(--color-gold-300);
  box-sizing: border-box;
  width: 0.75rem;
  height: 0.06rem;
}
.marketing6 {
  position: absolute;
  top: 6.06rem;
  left: 1.2rem;
  font-weight: 600;
  text-align: left;
}
.div80 {
  position: absolute;
  top: 6.72rem;
  left: 0.04rem;
  border-top: 1px solid var(--color-gold-300);
  box-sizing: border-box;
  width: 0.75rem;
  height: 0.06rem;
}
.performance-marketing3 {
  position: absolute;
  top: 4.25rem;
  left: 1.2rem;
  font-weight: 600;
  text-align: left;
}
.div81 {
  position: absolute;
  top: 4.97rem;
  left: 0.04rem;
  border-top: 1px solid var(--color-gold-300);
  box-sizing: border-box;
  width: 0.75rem;
  height: 0.06rem;
}
.digital-marketing4 {
  position: absolute;
  top: 7.81rem;
  left: 1.2rem;
  font-weight: 600;
}
.services-inner {
  position: absolute;
  top: 1.81rem;
  left: 0.01rem;
  width: 7.13rem;
  height: 0.19rem;
}
.services19 {
  font-weight: 600;
}
.services18 {
  position: absolute;
  top: 0;
  left: 0.01rem;
  font-size: var(--font-size-7xl);
}
.services17 {
  position: absolute;
  top: 13.38rem;
  left: 13.74rem;
  width: 20.63rem;
  height: 17.88rem;
  font-size: var(--font-size-lg);
}
.footer-line-up2 {
  position: absolute;
  top: 5.06rem;
  left: 5.75rem;
  width: 100.31rem;
  height: 0.13rem;
}
.footer-main-page {
  position: absolute;
  top: 577.19rem;
  left: -0.37rem;
  background-color: var(--color-black);
  width: 120rem;
  height: 60.5rem;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-gold-300);
}
.text {
  position: absolute;
  top: 372.88rem;
  left: -555.06rem;
  font-size: var(--font-size-lg-5);
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 64.38rem;
  height: 86.75rem;
}
.collaborate {
  font-weight: 800;
  color: var(--color-gold-300);
}
.we-can-collaborate-container {
  position: absolute;
  top: 42.63rem;
  left: 6.56rem;
  font-size: var(--font-size-47xl);
  display: flex;
  align-items: center;
  width: 69.38rem;
}
.scan-eye-icon {
  position: absolute;
  top: 27.31rem;
  left: 94.94rem;
  width: 15.31rem;
  height: 15.31rem;
  object-fit: cover;
}
.cyber-security {
  position: absolute;
  top: 13.5rem;
  left: 37.13rem;
  font-size: var(--font-size-67xl);
  color: var(--color-white);
  text-align: center;
}
.hand-icon {
  position: absolute;
  top: 33.38rem;
  left: 79rem;
  width: 31.25rem;
  height: 30.88rem;
  object-fit: cover;
}
.circle-padlock-icon,
.finger-print-icon,
.padlock-icon {
  position: absolute;
  top: 54.81rem;
  left: 77.13rem;
  width: 15.31rem;
  height: 12.19rem;
  object-fit: cover;
}
.circle-padlock-icon,
.padlock-icon {
  top: 30.56rem;
  left: 79.31rem;
  height: 15.31rem;
}
.circle-padlock-icon {
  top: 42.31rem;
  left: 102.56rem;
}
.lorem-ipsum-dolor {
  position: absolute;
  top: 59.25rem;
  left: 6.56rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  width: 48.81rem;
}
.read-box-1 {
  position: absolute;
  top: 0.13rem;
  left: 0;
  border-radius: var(--br-13xl);
  background-color: var(--color-gold-300);
  backdrop-filter: blur(150px);
  width: 10.81rem;
  height: 2.24rem;
}
.down-left-arrow8 {
  position: absolute;
  top: 1.06rem;
  left: 8.94rem;
  width: 1.06rem;
  height: 0.92rem;
  object-fit: cover;
}
.box-1-inner,
.box-1-item,
.show-me-how {
  position: absolute;
  top: 0.13rem;
  left: 7.5rem;
  width: 1.94rem;
  height: 2.24rem;
}
.box-1-inner,
.show-me-how {
  top: 0.12rem;
  left: 6.69rem;
}
.show-me-how {
  top: 0.75rem;
  left: 0.56rem;
  display: flex;
  align-items: center;
  width: 7.5rem;
  height: 1.05rem;
}
.box-11 {
  position: absolute;
  top: 63.94rem;
  left: 6.56rem;
  width: 10.81rem;
  height: 2.5rem;
  font-size: var(--font-size-smi);
  color: var(--color-white);
}
.learn-more,
.read-more {
  position: absolute;
  top: 543.63rem;
  left: 56.5rem;
  font-size: var(--font-size-9xl);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-gold-300);
}
.learn-more {
  top: 542.56rem;
  left: 88.31rem;
}
.glass-10-icon {
  position: absolute;
  top: 556.19rem;
  left: 21.63rem;
  border-radius: var(--br-13xl);
  width: 79.5rem;
  height: 11.31rem;
  object-fit: cover;
}
.cyber-sercurity-item {
  position: absolute;
  top: 92.41rem;
  left: 47rem;
  width: 24.19rem;
  height: 0.84rem;
}
.cyber-sercurity-inner {
  position: absolute;
  top: 361.5rem;
  left: 50.19rem;
  width: 12.51rem;
  height: 0.74rem;
}
.cyber-sercurity-child1 {
  position: absolute;
  top: 428.75rem;
  left: 49.56rem;
  width: 18.76rem;
  height: 0.79rem;
}
.main-box,
.main-box1,
.main-box2 {
  position: absolute;
  top: 104.63rem;
  left: 8rem;
  border-radius: var(--br-24xl);
  background: linear-gradient(
    73.51deg,
    rgba(255, 231, 137, 0.55),
    rgba(255, 231, 137, 0.21)
  );
  backdrop-filter: blur(7.5px);
  border: 3px solid var(--color-gold-400);
  box-sizing: border-box;
  width: 32.19rem;
  height: 34.19rem;
}
.main-box1,
.main-box2 {
  left: 44.94rem;
}
.main-box2 {
  left: 81.88rem;
}
.computer-icon,
.paper-icon {
  position: absolute;
  top: 105.94rem;
  left: 54.81rem;
  width: 12.5rem;
  height: 12.5rem;
  object-fit: cover;
}
.computer-icon {
  left: 91.75rem;
}
.main-box-icon3 {
  position: absolute;
  top: 154.5rem;
  left: 8.31rem;
  border-radius: var(--br-24xl);
  width: 101.88rem;
  height: 59.13rem;
}
.read-box-11 {
  position: absolute;
  top: 0.15rem;
  left: 0;
  border-radius: var(--br-13xl);
  background-color: var(--color-gold-300);
  backdrop-filter: blur(150px);
  width: 10.81rem;
  height: 2.63rem;
}
.box-2-child11,
.box-2-child12,
.learn-more1 {
  position: absolute;
  top: 0.15rem;
  left: 7.5rem;
  width: 1.94rem;
  height: 2.63rem;
}
.box-2-child12,
.learn-more1 {
  left: 6.69rem;
}
.learn-more1 {
  top: 0.81rem;
  left: 1.75rem;
  display: flex;
  align-items: center;
  width: 5.25rem;
  height: 1.25rem;
}
.box-27,
.read-box-12 {
  position: absolute;
  width: 10.81rem;
}
.box-27 {
  top: 205.56rem;
  left: 51.19rem;
  height: 2.94rem;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.read-box-12 {
  top: 0.18rem;
  left: 0;
  border-radius: var(--br-13xl);
  background-color: var(--color-gold-300);
  backdrop-filter: blur(150px);
  height: 3.08rem;
}
.box-3-child,
.box-3-item,
.show-me-how1 {
  position: absolute;
  top: 0.18rem;
  left: 7.5rem;
  width: 1.94rem;
  height: 3.08rem;
}
.box-3-item,
.show-me-how1 {
  top: 0.17rem;
  left: 6.69rem;
}
.show-me-how1 {
  top: 1rem;
  left: 1rem;
  display: flex;
  align-items: center;
  width: 7.5rem;
  height: 1.45rem;
}
.box-31,
.box-41 {
  position: absolute;
  top: 245.94rem;
  left: 14.75rem;
  width: 10.81rem;
  height: 3.44rem;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.box-41 {
  top: 525.63rem;
  left: 14.94rem;
}
.safe-box-icon {
  position: absolute;
  top: 106.06rem;
  left: 17.88rem;
  width: 12.5rem;
  height: 12.5rem;
  object-fit: cover;
}
.cyber-sercurity-child2 {
  position: absolute;
  top: 174.88rem;
  left: 51.69rem;
  border-top: 10px solid var(--color-gold-300);
  box-sizing: border-box;
  width: 19.38rem;
  height: 0.63rem;
}
.lorem-ipsum-dolor1,
.lorem-ipsum-dolor2 {
  position: absolute;
  top: 121.75rem;
  left: 50.19rem;
  font-weight: 500;
  font-family: var(--font-inter);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24rem;
}
.lorem-ipsum-dolor2 {
  top: 122.19rem;
  left: 86.06rem;
}
.image-78-icon {
  position: absolute;
  top: 159.25rem;
  left: 13.25rem;
  border-radius: var(--br-3xs);
  width: 35.06rem;
  height: 48rem;
  object-fit: cover;
}
.manage-security-services {
  position: absolute;
  top: 76.25rem;
  left: 31.13rem;
  font-size: 4.38rem;
  font-weight: 600;
}
.adipiscing {
  color: var(--color-gold-300);
}
.lorem-ipsum-dolor-container {
  position: absolute;
  top: 84.25rem;
  left: 11.94rem;
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  width: 91.63rem;
}
.detecting-incident,
.preventing-incident {
  font-size: var(--font-size-17xl);
  font-weight: 600;
}
.detecting-incident {
  position: absolute;
  top: 117.69rem;
  left: 13.44rem;
  font-family: var(--font-inter);
  color: var(--color-gray-100);
  text-align: center;
}
.preventing-incident {
  top: 118.25rem;
  left: 51.19rem;
}
.lorem-ipsum-dolor3,
.preventing-incident,
.responding-incident,
.text2,
.we-are-here {
  position: absolute;
  font-family: var(--font-inter);
  text-align: center;
}
.responding-incident {
  top: 118.5rem;
  left: 87.44rem;
  font-size: var(--font-size-17xl);
  font-weight: 600;
}
.lorem-ipsum-dolor3,
.text2,
.we-are-here {
  font-weight: 500;
}
.lorem-ipsum-dolor3 {
  top: 122.19rem;
  left: 12.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24rem;
}
.text2,
.we-are-here {
  top: 174.43rem;
  left: 85.76rem;
}
.we-are-here {
  top: 159.81rem;
  left: 51.25rem;
  font-size: 3.5rem;
  font-weight: 600;
}
.lorem-ipsum-dolor4,
.lorem-ipsum-dolor5 {
  position: absolute;
  display: flex;
  align-items: center;
}
.lorem-ipsum-dolor4 {
  top: 167.88rem;
  left: 52rem;
  font-size: var(--font-size-6xl);
  font-weight: 600;
  font-family: var(--font-inter);
  width: 40.06rem;
}
.lorem-ipsum-dolor5 {
  top: 231.5rem;
  left: 14.75rem;
  font-size: 2.5rem;
  font-weight: 500;
  width: 47.25rem;
}
.applications-security,
.infrastructure-security,
.it-audit {
  position: absolute;
  top: 297rem;
  left: 12rem;
  font-size: var(--font-size-9xl);
  font-weight: 600;
  font-family: var(--font-inter);
}
.applications-security,
.it-audit {
  top: 297.44rem;
  left: 47.25rem;
}
.it-audit {
  top: 297rem;
  left: 84.81rem;
}
.hero2-icon {
  position: absolute;
  top: 338.25rem;
  left: 0.63rem;
  width: 50.56rem;
  height: 45.56rem;
  object-fit: cover;
}
.image-80-icon,
.image-81-icon,
.image-82-icon,
.image-83-icon {
  position: absolute;
  top: 365.13rem;
  left: 51.19rem;
  width: 9.38rem;
  height: 9.38rem;
  object-fit: cover;
}
.image-81-icon,
.image-82-icon,
.image-83-icon {
  top: 385.63rem;
}
.image-81-icon,
.image-83-icon {
  top: 365.13rem;
  left: 81.88rem;
}
.image-83-icon {
  top: 385.38rem;
}
.lorem-ipsum {
  margin: 0;
}
.lorem-ipsum-dolor-container2 {
  position: absolute;
  top: 368rem;
  left: 94.19rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 13.5rem;
}
.lorem-ipsum-dolor6,
.lorem-ipsum-dolor7,
.lorem-ipsum-dolor8 {
  position: absolute;
  top: 374.5rem;
  left: 92.88rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 16.13rem;
}
.lorem-ipsum-dolor7,
.lorem-ipsum-dolor8 {
  top: 393.44rem;
  left: 60rem;
}
.lorem-ipsum-dolor8 {
  left: 92.88rem;
}
.lorem-ipsum-dolor10,
.lorem-ipsum-dolor9,
.lorem-ipsum1 {
  position: absolute;
  top: 388.94rem;
  left: 60.56rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 13.5rem;
}
.lorem-ipsum-dolor10,
.lorem-ipsum-dolor9 {
  top: 472.38rem;
  left: 8.13rem;
  font-size: var(--font-size-17xl);
  text-align: center;
  justify-content: center;
  width: 44.69rem;
}
.lorem-ipsum-dolor10 {
  left: 68.31rem;
}
.image-84-icon,
.image-85-icon {
  position: absolute;
  top: 438.38rem;
  left: 20rem;
  border-radius: var(--br-381xl);
  width: 25rem;
  height: 25.66rem;
  object-fit: cover;
}
.image-85-icon {
  left: 75.81rem;
}
.yash-wankhade,
.yash-wankhade1 {
  position: absolute;
  top: 484.88rem;
  left: 21.94rem;
  font-size: var(--font-size-14xl);
  font-weight: 600;
  color: var(--color-gold-300);
}
.yash-wankhade1 {
  top: 486.88rem;
  left: 79.75rem;
}
.lorem-ipsum-dolor11 {
  position: absolute;
  top: 510.5rem;
  left: 14.94rem;
  font-size: var(--font-size-17xl);
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 35.06rem;
}
.image-86-icon {
  position: absolute;
  top: 497.81rem;
  left: 56.5rem;
  width: 25.06rem;
  height: 19.56rem;
  object-fit: cover;
}
.div82,
.projects-done {
  position: absolute;
  font-weight: 600;
  font-family: var(--font-inter);
}
.div82 {
  top: 177.5rem;
  left: 54.19rem;
  font-size: var(--font-size-41xl);
  color: var(--color-gold-300);
}
.projects-done {
  top: 176.19rem;
  left: 70.19rem;
  font-size: var(--font-size-16xl);
}
.lorem-ipsum-dolor12,
.lorem-ipsum-dolor13 {
  font-size: var(--font-size-6xl);
  display: flex;
  align-items: center;
  width: 29.56rem;
  height: 3.75rem;
}
.lorem-ipsum-dolor12 {
  position: absolute;
  top: 180.63rem;
  left: 70.31rem;
  font-weight: 600;
  font-family: var(--font-inter);
}
.lorem-ipsum-dolor13 {
  top: 193.19rem;
  left: 69.88rem;
}
.div83,
.lorem-ipsum-dolor13,
.lorem-ipsum-dolor14,
.years-of-experience2 {
  position: absolute;
  font-weight: 600;
  font-family: var(--font-inter);
}
.div83 {
  top: 188.31rem;
  left: 54.19rem;
  font-size: var(--font-size-41xl);
  color: var(--color-gold-300);
}
.lorem-ipsum-dolor14,
.years-of-experience2 {
  top: 187.88rem;
  left: 70.13rem;
  font-size: var(--font-size-16xl);
}
.lorem-ipsum-dolor14 {
  top: 200.44rem;
  left: 50.5rem;
  font-size: var(--font-size-6xl);
  display: flex;
  align-items: center;
  width: 48.94rem;
}
.our-expertise {
  position: absolute;
  top: 223.69rem;
  left: 11.63rem;
  font-size: var(--font-size-61xl);
}
.file-icon,
.password-icon {
  position: absolute;
  top: 240.31rem;
  left: 58rem;
  width: 12.5rem;
  height: 12.5rem;
  object-fit: cover;
}
.file-icon {
  top: 240.06rem;
  left: 88.06rem;
}
.it-audit1,
.manage-endpoint-security {
  position: absolute;
  top: 253.75rem;
  left: 52.81rem;
  font-size: var(--font-size-18xl);
  font-weight: 600;
  font-family: var(--font-inter);
}
.manage-endpoint-security {
  left: 82.31rem;
}
.lorem-ipsum-dolor15,
.lorem-ipsum-dolor16,
.lorem-ipsum-dolor17,
.lorem-ipsum-dolor18,
.lorem-ipsum-dolor19 {
  position: absolute;
  top: 257.75rem;
  left: 52.63rem;
  font-size: var(--font-size-13xl);
  font-weight: 500;
  font-family: var(--font-inter);
  display: flex;
  align-items: center;
  width: 26.69rem;
}
.lorem-ipsum-dolor16,
.lorem-ipsum-dolor17,
.lorem-ipsum-dolor18,
.lorem-ipsum-dolor19 {
  top: 300.13rem;
  left: 83.88rem;
}
.lorem-ipsum-dolor17,
.lorem-ipsum-dolor18,
.lorem-ipsum-dolor19 {
  top: 300.81rem;
  left: 46.38rem;
}
.lorem-ipsum-dolor18,
.lorem-ipsum-dolor19 {
  left: 11.63rem;
}
.lorem-ipsum-dolor19 {
  top: 257.25rem;
  left: 83.88rem;
}
.learn-more2,
.learn-more3 {
  position: absolute;
  top: 272.94rem;
  left: 52.81rem;
  font-size: var(--font-size-9xl);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-gold-300);
}
.learn-more3 {
  top: 315.38rem;
  left: 87.25rem;
}
.learn-more4 {
  top: 316rem;
  left: 47.81rem;
}
.learn-more4,
.learn-more5,
.learn-more6 {
  position: absolute;
  font-size: var(--font-size-9xl);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-gold-300);
}
.learn-more5 {
  top: 315.69rem;
  left: 11.63rem;
  text-decoration: none;
}
.learn-more6 {
  top: 272.75rem;
  left: 83.88rem;
}
.cloud-icon {
  position: absolute;
  top: 282.75rem;
  left: 87.25rem;
  width: 12.5rem;
  height: 12.5rem;
  object-fit: cover;
}
.text3 {
  position: absolute;
  top: 334.63rem;
  left: 128.81rem;
  font-size: var(--font-size-6xl);
}
.laptop-icon,
.network-icon {
  position: absolute;
  top: 282.75rem;
  left: 49.94rem;
  width: 12.5rem;
  height: 12.5rem;
  object-fit: cover;
}
.laptop-icon {
  left: 14.63rem;
}
.lorem-ipsum-dolor20,
.we-strive-to-container {
  position: absolute;
  display: flex;
  align-items: center;
}
.we-strive-to-container {
  top: 336.06rem;
  left: 49.94rem;
  font-size: var(--font-size-61xl);
  width: 52.94rem;
}
.lorem-ipsum-dolor20 {
  top: 352.25rem;
  left: 49.81rem;
  width: 56.88rem;
}
.lorem-ipsum-dolor-container4,
.lorem-ipsum-dolor21 {
  position: absolute;
  top: 367.81rem;
  left: 60rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 13.5rem;
}
.lorem-ipsum-dolor21 {
  top: 374.5rem;
  left: 59.75rem;
  font-weight: 500;
  width: 16.13rem;
}
.hear-what-they,
.ligula-amet-elit {
  position: absolute;
  top: 388.44rem;
  left: 92.19rem;
  font-weight: 600;
}
.hear-what-they {
  top: 413.69rem;
  left: 34.75rem;
  font-size: var(--font-size-61xl);
}
.read {
  color: var(--color-black);
}
.read-our-news-container {
  position: absolute;
  top: 496rem;
  left: 14.06rem;
  font-size: var(--font-size-61xl);
  font-weight: 600;
}
.encryption-vulnerability-using {
  position: absolute;
  top: 518.81rem;
  left: 57.25rem;
  font-size: var(--font-size-xl);
  display: flex;
  align-items: center;
  width: 23.19rem;
}
.january-8-2022 {
  margin-block-start: 0;
  margin-block-end: 15px;
}
.comments {
  margin: 0;
  color: var(--color-black);
}
.january-8-2022-container,
.vestibulum-ante-ipsum {
  position: absolute;
  left: 57.25rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.january-8-2022-container {
  top: 522.38rem;
  font-size: var(--font-size-xl);
  width: 9.88rem;
  color: var(--color-gold-300);
}
.vestibulum-ante-ipsum {
  top: 528.38rem;
  font-size: var(--font-size-6xl);
  width: 23.19rem;
}
.image-86-icon1 {
  position: absolute;
  top: 496.94rem;
  left: 88.5rem;
  width: 25.06rem;
  height: 19.56rem;
  object-fit: cover;
}
.encryption-vulnerability-using1 {
  position: absolute;
  top: 517.94rem;
  left: 89.25rem;
  font-size: var(--font-size-xl);
  display: flex;
  align-items: center;
  width: 23.19rem;
}
.january-8-2022-container2,
.vestibulum-ante-ipsum1 {
  position: absolute;
  left: 89.25rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.january-8-2022-container2 {
  top: 521.5rem;
  font-size: var(--font-size-xl);
  width: 9.88rem;
  color: var(--color-gold-300);
}
.vestibulum-ante-ipsum1 {
  top: 527.5rem;
  font-size: var(--font-size-6xl);
  width: 23.19rem;
}
.cyber-sercurity {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 637.69rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
