.full-view-servise-page-child,
.full-view-servise-page-item {
  position: absolute;
  top: 59.56rem;
  left: 29.88rem;
  border-radius: 50%;
  background-color: var(--color-gold-500);
  filter: blur(500px);
  width: 32.5rem;
  height: 27.19rem;
}
.full-view-servise-page-item {
  top: 136rem;
  left: 51.38rem;
}
.i-icon {
  position: absolute;
  top: 465.75rem;
  left: 89.19rem;
  width: 30.81rem;
  height: 45.66rem;
  overflow: hidden;
}
.final-state-icon {
  position: absolute;
  top: 472.75rem;
  left: 0;
  width: 13.76rem;
  height: 24.51rem;
  object-fit: cover;
}
.footer-servise-child {
  position: absolute;
  top: 12.56rem;
  left: -68.37rem;
  width: 53.75rem;
  height: 23.44rem;
}
.span {
  color: var(--color-snow-200);
}
.copyright-2023-gbjbuzz-container {
  position: absolute;
  top: 52.13rem;
  left: 8.25rem;
  font-size: var(--font-size-lgi);
  display: flex;
  align-items: center;
  width: 23.44rem;
  height: 1.44rem;
}
.footer-servise-item {
  position: absolute;
  top: 50.38rem;
  left: 8.25rem;
  width: 102rem;
  height: 0.13rem;
}
.contact-us-child {
  position: absolute;
  top: 0.19rem;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gold-300);
  width: 10rem;
  height: 3.5rem;
}
.contact-us1 {
  position: absolute;
  top: 1.44rem;
  left: 0.31rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.25rem;
  height: 1rem;
}
.contact-us,
.contact-us-inner,
.contact-us-item {
  position: absolute;
  top: 0.19rem;
  left: 5.94rem;
  width: 2.35rem;
  height: 3.5rem;
}
.contact-us,
.contact-us-inner {
  left: 6.56rem;
}
.contact-us {
  top: 39.63rem;
  left: 100.13rem;
  width: 10rem;
  height: 3.88rem;
  color: var(--color-black);
}
.gbjbuzzgmailcom {
  position: absolute;
  top: 41.69rem;
  left: 86.56rem;
  text-align: left;
}
.vector-icon {
  position: absolute;
  height: 0.27%;
  width: 0.25%;
  top: 99.73%;
  right: 99.75%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.image-22-icon {
  position: absolute;
  top: -469.12rem;
  left: 760rem;
  width: 33.13rem;
  height: 24.88rem;
  object-fit: cover;
}
.mail {
  position: absolute;
  height: 881.92%;
  width: 589.95%;
  top: -807.97%;
  right: -560.94%;
  bottom: 26.05%;
  left: 70.98%;
}
.div,
.phone-icon {
  position: absolute;
  top: 39.19rem;
}
.div {
  left: 86.56rem;
  font-size: var(--font-size-mid);
  text-align: left;
}
.phone-icon {
  left: 84.25rem;
  width: 1.75rem;
  height: 1.38rem;
  object-fit: cover;
}
.search-box-child {
  position: absolute;
  top: 0.11rem;
  left: 28.44rem;
  border-radius: var(--br-2xs);
  width: 5.75rem;
  height: 2.13rem;
}
.search-box-item {
  position: absolute;
  top: 0.11rem;
  left: 32.36rem;
  width: 0.99rem;
  height: 2.16rem;
  opacity: 0.71;
}
.rectangle-icon,
.search-box-inner {
  position: absolute;
  top: 0.11rem;
  height: 2.13rem;
}
.search-box-inner {
  left: 0;
  border-radius: var(--br-2xs);
  width: 27.25rem;
}
.rectangle-icon {
  left: 31.94rem;
  width: 0.97rem;
  opacity: 0.71;
}
.serach {
  position: absolute;
  top: 0.67rem;
  left: 28.44rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.75rem;
  height: 1rem;
}
.search-box {
  position: absolute;
  top: 43.08rem;
  left: 40.69rem;
  width: 34.19rem;
  height: 2.37rem;
  color: var(--color-black);
}
.gbj-icon,
.medium-monogram-icon {
  position: absolute;
  top: 38.56rem;
  left: 30.81rem;
  width: 8.69rem;
  height: 6.94rem;
  object-fit: cover;
}
.medium-monogram-icon {
  top: 2.25rem;
  left: 6.5rem;
  width: 2.31rem;
  height: 2rem;
}
.pinterest-icon {
  top: 2.25rem;
  left: 4.19rem;
}
.pinterest-icon,
.twitter-squared-icon,
.youtube-icon {
  position: absolute;
  width: 2.31rem;
  height: 2rem;
  object-fit: cover;
}
.twitter-squared-icon {
  top: 2.25rem;
  left: 1.88rem;
}
.youtube-icon {
  top: 0;
  left: 7.69rem;
}
.linkedin-icon {
  top: 0;
  left: 4.88rem;
}
.facebook-icon,
.instagram-icon,
.linkedin-icon {
  position: absolute;
  width: 2.31rem;
  height: 2rem;
  object-fit: cover;
}
.instagram-icon {
  top: 0.06rem;
  left: 2.31rem;
}
.facebook-icon {
  top: 0;
  left: 0;
}
.social-icon,
.vertical-3 {
  position: absolute;
  top: 39.81rem;
  left: 14rem;
  width: 10rem;
  height: 4.25rem;
}
.vertical-3 {
  top: 4.94rem;
  left: 3.38rem;
  width: 0.06rem;
  height: 10.49rem;
}
.div1,
.div2,
.div3,
.div4,
.div5,
.div6,
.div7 {
  position: absolute;
  top: 15.41rem;
  left: 3.34rem;
  border-top: 1px solid var(--color-gold-300);
  box-sizing: border-box;
  width: 0.75rem;
  height: 0.06rem;
}
.div2,
.div3,
.div4,
.div5,
.div6,
.div7 {
  top: 13.66rem;
  left: 3.41rem;
}
.div3,
.div4,
.div5,
.div6,
.div7 {
  top: 11.91rem;
  left: 3.34rem;
}
.div4,
.div5,
.div6,
.div7 {
  top: 10.22rem;
  left: 3.41rem;
}
.div5,
.div6,
.div7 {
  top: 8.47rem;
}
.div6,
.div7 {
  top: 6.72rem;
}
.div7 {
  top: 4.97rem;
}
.underlin-3 {
  position: absolute;
  top: 1.75rem;
  left: 0;
  width: 15.94rem;
  height: 0.19rem;
}
.digital-transformation1 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.digital-transformation {
  position: absolute;
  top: 12.81rem;
  left: 78.25rem;
  width: 23.44rem;
  height: 15.44rem;
  font-size: var(--font-size-7xl);
}
.vertical-2-icon {
  top: 4.81rem;
  left: -0.03rem;
  width: 0.09rem;
  height: 10.51rem;
}
.div8,
.services,
.vertical-2-icon {
  position: absolute;
}
.div8 {
  top: 15.28rem;
  left: -0.03rem;
  border-top: 1px solid var(--color-gold-300);
  box-sizing: border-box;
  width: 0.75rem;
  height: 0.06rem;
}
.services {
  top: 12.75rem;
  left: 1.31rem;
  font-weight: 600;
}
.div9 {
  top: 13.54rem;
  left: -0.03rem;
  border-top: 1px solid var(--color-gold-300);
  box-sizing: border-box;
  width: 0.75rem;
  height: 0.06rem;
}
.assets,
.div10,
.div9 {
  position: absolute;
}
.assets {
  top: 11.06rem;
  left: 1.31rem;
  font-weight: 600;
}
.div10 {
  top: 11.79rem;
  left: -0.03rem;
  border-top: 1px solid var(--color-gold-300);
  box-sizing: border-box;
  width: 0.75rem;
  height: 0.06rem;
}
.testimonials {
  position: absolute;
  top: 9.38rem;
  left: 1.31rem;
  font-weight: 600;
}
.div11 {
  top: 10.11rem;
  left: -0.03rem;
  border-top: 1px solid var(--color-gold-300);
  box-sizing: border-box;
  width: 0.75rem;
  height: 0.06rem;
}
.blogs,
.div11,
.div12 {
  position: absolute;
}
.blogs {
  top: 7.69rem;
  left: 1.31rem;
  font-weight: 600;
}
.div12 {
  top: 8.36rem;
  left: -0.03rem;
  border-top: 1px solid var(--color-gold-300);
  box-sizing: border-box;
  width: 0.75rem;
  height: 0.06rem;
}
.about-us {
  position: absolute;
  top: 5.94rem;
  left: 1.5rem;
  font-weight: 600;
}
.div13 {
  position: absolute;
  top: 6.61rem;
  left: -0.03rem;
  border-top: 1px solid var(--color-gold-300);
  box-sizing: border-box;
  width: 0.75rem;
  height: 0.06rem;
}
.contact-us2 {
  top: 4rem;
  left: 1.5rem;
  font-weight: 600;
}
.contact-us2,
.div14,
.medium {
  position: absolute;
}
.div14 {
  top: 4.86rem;
  left: -0.03rem;
  border-top: 1px solid var(--color-gold-300);
  box-sizing: border-box;
  width: 0.75rem;
  height: 0.06rem;
}
.medium {
  top: 14.5rem;
  left: 1.31rem;
  font-weight: 600;
}
.under-line-2 {
  position: absolute;
  top: 1.88rem;
  left: 0;
  width: 10.06rem;
  height: 0.18rem;
}
.useful-links,
.usefull-link {
  position: absolute;
  width: 12.13rem;
}
.useful-links {
  top: 0;
  left: 0;
  font-size: var(--font-size-7xl);
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.88rem;
}
.usefull-link {
  top: 12.94rem;
  left: 45.81rem;
  height: 15.88rem;
  text-align: left;
  font-size: var(--font-size-lg);
}
.div15,
.vertecal-1 {
  position: absolute;
  top: 4.94rem;
  left: -0.02rem;
  width: 0.09rem;
  height: 12.25rem;
}
.div15 {
  top: 17.16rem;
  border-top: 1px solid var(--color-gold-300);
  box-sizing: border-box;
  width: 0.75rem;
  height: 0.06rem;
}
.adv-camping {
  position: absolute;
  top: 16.5rem;
  left: 1.26rem;
  font-weight: 600;
}
.div16 {
  position: absolute;
  top: 15.41rem;
  left: -0.02rem;
  border-top: 1px solid var(--color-gold-300);
  box-sizing: border-box;
  width: 0.75rem;
  height: 0.06rem;
}
.ai-automation {
  position: absolute;
  top: 14.69rem;
  left: 1.13rem;
  font-weight: 600;
  text-align: left;
}
.icon {
  position: absolute;
  top: 13.63rem;
  left: 0.01rem;
  width: 0.69rem;
  height: 0.06rem;
}
.seo-search-engine {
  position: absolute;
  top: 13.06rem;
  left: 1.2rem;
  font-weight: 600;
}
.div17 {
  position: absolute;
  top: 11.91rem;
  left: -0.02rem;
  border-top: 1px solid var(--color-gold-300);
  box-sizing: border-box;
  width: 0.75rem;
  height: 0.06rem;
}
.web-development {
  position: absolute;
  top: 11.25rem;
  left: 1.2rem;
  font-weight: 600;
}
.div18 {
  position: absolute;
  top: 10.22rem;
  left: -0.02rem;
  border-top: 1px solid var(--color-gold-300);
  box-sizing: border-box;
  width: 0.75rem;
  height: 0.06rem;
}
.mobile-app-development {
  position: absolute;
  top: 9.63rem;
  left: 1.2rem;
  font-weight: 600;
}
.div19 {
  position: absolute;
  top: 8.47rem;
  left: 0.04rem;
  border-top: 1px solid var(--color-gold-300);
  box-sizing: border-box;
  width: 0.75rem;
  height: 0.06rem;
}
.marketing {
  position: absolute;
  top: 6.06rem;
  left: 1.2rem;
  font-weight: 600;
  text-align: left;
}
.div20 {
  position: absolute;
  top: 6.72rem;
  left: 0.04rem;
  border-top: 1px solid var(--color-gold-300);
  box-sizing: border-box;
  width: 0.75rem;
  height: 0.06rem;
}
.performance-marketing {
  position: absolute;
  top: 4.25rem;
  left: 1.2rem;
  font-weight: 600;
  text-align: left;
}
.div21 {
  position: absolute;
  top: 4.97rem;
  left: 0.04rem;
  border-top: 1px solid var(--color-gold-300);
  box-sizing: border-box;
  width: 0.75rem;
  height: 0.06rem;
}
.digital-marketing {
  position: absolute;
  top: 7.81rem;
  left: 1.2rem;
  font-weight: 600;
}
.services-child {
  position: absolute;
  top: 1.81rem;
  left: 0.01rem;
  width: 7.13rem;
  height: 0.19rem;
}
.services3 {
  font-weight: 600;
}
.services2 {
  position: absolute;
  top: 0;
  left: 0.01rem;
  font-size: var(--font-size-7xl);
}
.services1 {
  position: absolute;
  top: 13.38rem;
  left: 13.74rem;
  width: 20.63rem;
  height: 17.88rem;
  font-size: var(--font-size-lg);
}
.footer-line-up {
  position: absolute;
  top: 8.14rem;
  left: 8.25rem;
  width: 100.31rem;
  height: 0.13rem;
}
.footer-servise {
  position: absolute;
  top: 485rem;
  left: 0;
  background-color: var(--color-black);
  width: 120rem;
  height: 58.06rem;
  overflow: hidden;
  font-size: var(--font-size-sm);
  color: var(--color-gold-300);
}
.box-8-child,
.image-34-icon {
  position: absolute;
  border-radius: var(--br-13xl);
}
.box-8-child {
  top: 0;
  left: 0;
  width: 40.81rem;
  height: 40.38rem;
}
.image-34-icon {
  top: 0.5rem;
  left: 0.38rem;
  width: 40.13rem;
  height: 15.06rem;
  object-fit: cover;
}
.adv-camping-short,
.adv-camping1 {
  position: absolute;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.adv-camping1 {
  top: 17.28rem;
  left: 4.38rem;
  text-align: center;
  justify-content: center;
  width: 11.88rem;
  height: 1.88rem;
}
.adv-camping-short {
  top: 19.84rem;
  left: 4.06rem;
  font-size: var(--font-size-lgi);
  color: var(--color-snow-300);
  width: 35.31rem;
}
.google-ads {
  margin-bottom: false;
}
.google-ads-meta-ads-linked {
  margin: 0;
  padding-left: var(--padding-4xl);
}
.google-ads-meta-container {
  position: absolute;
  top: 26.56rem;
  left: 3.88rem;
  font-size: var(--font-inherit);
  font-weight: 600;
  font-family: var(--font-inherit);
  display: flex;
  align-items: center;
  width: 18.63rem;
  height: 10.69rem;
}
.ai-icon,
.box-8 {
  position: absolute;
}
.box-8 {
  top: 212.84rem;
  left: 51.94rem;
  width: 40.81rem;
  height: 40.38rem;
  font-size: var(--font-size-7xl);
}
.ai-icon {
  top: 0.53rem;
  left: 0.5rem;
  border-radius: var(--br-13xl);
  width: 39.44rem;
  height: 15.06rem;
  object-fit: cover;
}
.ai-automation-is,
.ai-automation1 {
  position: absolute;
  top: 17.38rem;
  left: 1.81rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 29.63rem;
  height: 2.81rem;
}
.ai-automation-is {
  top: 21.13rem;
  left: 2.63rem;
  font-size: var(--font-size-lgi);
  color: var(--color-white);
  width: 33rem;
  height: 4.88rem;
}
.personalized-chat-bot-invent {
  margin: 0;
  padding-left: var(--padding-5xl);
}
.p {
  margin: 0;
}
.personalized-chat-bot-container {
  position: absolute;
  top: 28.75rem;
  left: 3.75rem;
  font-size: var(--font-inherit);
  font-weight: 600;
  font-family: var(--font-inherit);
}
.box-7 {
  position: absolute;
  top: 212.28rem;
  left: 6.88rem;
  width: 40.81rem;
  height: 40.38rem;
  font-size: var(--font-size-7xl);
}
.circle-icon {
  position: absolute;
  top: 2.31rem;
  left: 32.69rem;
  width: 18.75rem;
  height: 18.75rem;
  object-fit: cover;
}
.glass-2,
.image-44-icon {
  position: absolute;
  width: 84.88rem;
}
.image-44-icon {
  top: 0;
  left: 0;
  height: 15.38rem;
  object-fit: cover;
}
.glass-2 {
  top: 191.19rem;
  left: 6.88rem;
  height: 21.06rem;
}
.icon1,
.marckting-2-icon {
  position: absolute;
  top: -0.12rem;
  left: -0.12rem;
  border-radius: var(--br-13xl);
  width: 88rem;
  height: 29.88rem;
}
.marckting-2-icon {
  top: 0.31rem;
  left: 44.63rem;
  width: 42.69rem;
  height: 28.94rem;
  object-fit: cover;
}
.marketing1 {
  top: 2.69rem;
  left: 2.46rem;
  width: 20.81rem;
}
.marketing-is-a,
.marketing1,
.web-traffic-social-container {
  position: absolute;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.marketing-is-a {
  top: 7.06rem;
  left: 2.56rem;
  font-size: var(--font-size-lg-5);
  color: var(--color-white);
  text-align: justify;
  width: 41.1rem;
}
.web-traffic-social-container {
  top: 9.63rem;
  left: 4.19rem;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
  width: 9.88rem;
  height: 13.06rem;
}
.box-6 {
  position: absolute;
  top: 153.69rem;
  left: 5rem;
  width: 87.75rem;
  height: 29.63rem;
  font-size: var(--font-size-12xl);
}
.marckting-4-icon {
  position: absolute;
  top: 0.5rem;
  left: 0.75rem;
  border-radius: var(--br-13xl);
  width: 39.75rem;
  height: 15.06rem;
  object-fit: cover;
}
.digital-marketing-is,
.digital-marketing1 {
  position: absolute;
  left: 4.06rem;
  font-weight: 600;
}
.digital-marketing1 {
  top: 17.88rem;
  text-align: center;
}
.digital-marketing-is {
  top: 20.63rem;
  font-size: var(--font-size-lgi);
  color: var(--color-snow-300);
  display: flex;
  align-items: center;
  width: 28.13rem;
}
.box-5 {
  position: absolute;
  top: 106.19rem;
  left: 51.06rem;
  width: 40.81rem;
  height: 40.38rem;
  font-size: var(--font-size-7xl);
}
.link-building-algorithm-container {
  position: absolute;
  top: 27.56rem;
  left: 22.31rem;
  font-weight: 600;
  display: inline-block;
  width: 13.94rem;
}
.seo-icon {
  position: absolute;
  top: 0.56rem;
  left: 0.88rem;
  border-radius: var(--br-13xl);
  width: 39.06rem;
  height: 15.06rem;
  object-fit: cover;
}
.seo-or-search,
.seo-search-engine1 {
  position: absolute;
  font-weight: 600;
  font-family: var(--font-montserrat);
  display: flex;
  align-items: center;
}
.seo-search-engine1 {
  top: 16.94rem;
  left: 1.81rem;
  font-size: var(--font-size-7xl);
  text-align: center;
  justify-content: center;
  width: 29.63rem;
  height: 2.81rem;
}
.seo-or-search {
  top: 20.19rem;
  left: 2.94rem;
  font-size: var(--font-size-lgi);
  color: var(--color-white);
  width: 33rem;
  height: 4.88rem;
}
.enterprise-seo-local-container {
  position: absolute;
  top: 27.56rem;
  left: 3.75rem;
  font-weight: 600;
}
.box-4 {
  position: absolute;
  top: 105.88rem;
  left: 5.81rem;
  width: 40.81rem;
  height: 40.38rem;
  font-family: var(--font-inherit);
}
.circle-icon1 {
  position: absolute;
  top: 0;
  left: 36.94rem;
  width: 19.19rem;
  height: 19.19rem;
  object-fit: cover;
}
.filled-circle-icon {
  top: 15.19rem;
  left: 0;
  width: 17.56rem;
  height: 15.19rem;
}
.filled-circle-icon,
.glass-12-icon,
.percent-icon {
  position: absolute;
  object-fit: cover;
}
.percent-icon {
  top: 15.75rem;
  left: 79.31rem;
  width: 16.75rem;
  height: 16.38rem;
}
.glass-12-icon {
  top: 0;
  left: 0;
  border-radius: var(--br-13xl);
  width: 86.94rem;
  height: 15.38rem;
}
.gbj-buzz {
  color: var(--color-gold-200);
}
.why-chose-gbj-container {
  position: absolute;
  top: 0.69rem;
  left: 20.75rem;
  font-size: var(--font-size-31xl);
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 42.44rem;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.clients,
.clients-retention,
.div22,
.div23,
.div24,
.years-of-experience {
  position: absolute;
  top: 5.88rem;
  left: 7.73rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.56rem;
}
.clients,
.clients-retention,
.div23,
.div24,
.years-of-experience {
  top: 5.94rem;
  left: 69.59rem;
  width: 6.02rem;
}
.clients,
.clients-retention,
.div24,
.years-of-experience {
  top: 5.88rem;
  left: 40.02rem;
  width: 3.36rem;
}
.clients,
.clients-retention,
.years-of-experience {
  top: 11.19rem;
  left: 6.78rem;
  font-size: var(--font-size-13xl);
  width: 6.9rem;
}
.clients-retention,
.years-of-experience {
  top: 11.31rem;
  left: 32.67rem;
  font-size: var(--font-size-11xl);
  width: 19.69rem;
}
.clients-retention {
  left: 64.71rem;
  width: 16.08rem;
}
.clients-details-3 {
  position: absolute;
  top: 11.5rem;
  left: 4.69rem;
  width: 86.94rem;
  height: 15.38rem;
}
.galss-1 {
  position: absolute;
  top: 69.63rem;
  left: 0;
  width: 96.06rem;
  height: 32.13rem;
  text-align: center;
  font-size: var(--font-size-26xl);
}
.icon2,
.marckting-4-icon1 {
  position: absolute;
  top: -0.12rem;
  left: -0.12rem;
  border-radius: var(--br-13xl);
  width: 88.25rem;
  height: 29.88rem;
}
.marckting-4-icon1 {
  top: 0.63rem;
  left: 44.81rem;
  width: 42.15rem;
  height: 28.13rem;
  object-fit: cover;
}
.cac-roi-road-container,
.impressions-and-clicks-container {
  position: absolute;
  top: 10.56rem;
  left: 23.25rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 13.19rem;
  height: 13.69rem;
}
.impressions-and-clicks-container {
  top: 10.81rem;
  left: 2.06rem;
  width: 18.31rem;
  height: 14rem;
}
.performance-marketing-is,
.performance-marketing1 {
  position: absolute;
  font-weight: 600;
  font-family: var(--font-montserrat);
  display: flex;
  align-items: center;
}
.performance-marketing-is {
  top: 5.56rem;
  left: 2.46rem;
  font-size: var(--font-size-lg-5);
  color: var(--color-white);
  width: 41.21rem;
}
.performance-marketing1 {
  top: 1.75rem;
  left: 2.44rem;
  font-size: var(--font-size-12xl);
  width: 26.88rem;
}
.box-3 {
  position: absolute;
  top: 47.94rem;
  left: 3.94rem;
  width: 88rem;
  height: 29.63rem;
  font-family: var(--font-inherit);
}
.web-devopment-icon {
  position: absolute;
  top: 0.56rem;
  left: 0.81rem;
  border-radius: var(--br-13xl);
  width: 39.25rem;
  height: 15.06rem;
  object-fit: cover;
}
.web-development1 {
  position: absolute;
  top: 18.63rem;
  left: 3.5rem;
  font-size: var(--font-size-7xl);
  font-weight: 600;
  text-align: center;
}
.our-certified-web {
  position: absolute;
  top: 21.13rem;
  left: 3.88rem;
  font-size: var(--font-size-lgi);
  font-weight: 600;
  color: var(--color-snow-300);
  display: flex;
  align-items: center;
  width: 28.13rem;
}
.custom-website-veue-container,
.php-html-css-container {
  position: absolute;
  top: 28.75rem;
  left: 18.63rem;
  font-weight: 600;
  font-family: var(--font-inherit);
}
.php-html-css-container {
  left: 3.88rem;
  display: flex;
  align-items: center;
  width: 9.44rem;
  height: 7.13rem;
}
.box-1-child,
.box-2 {
  position: absolute;
  top: 0;
  left: 51.25rem;
  width: 40.81rem;
  height: 40.38rem;
}
.box-1-child {
  left: 0.81rem;
  border-radius: var(--br-13xl);
}
.flutter-uiux {
  position: absolute;
  top: 29.5rem;
  left: 22.94rem;
  font-weight: 600;
  display: inline-block;
  width: 8.81rem;
}
.mobile-app-devlopment {
  position: absolute;
  top: 0.56rem;
  left: 1.56rem;
  border-radius: var(--br-13xl);
  width: 39.19rem;
  height: 15.06rem;
  object-fit: cover;
}
.as-the-best,
.mobile-app-development1 {
  position: absolute;
  font-weight: 600;
  font-family: var(--font-montserrat);
  display: flex;
  align-items: center;
}
.mobile-app-development1 {
  top: 18.19rem;
  left: 0;
  font-size: var(--font-size-7xl);
  text-align: center;
  justify-content: center;
  width: 28.25rem;
  height: 2.81rem;
}
.as-the-best {
  top: 21.13rem;
  left: 3.44rem;
  font-size: var(--font-size-lgi);
  color: var(--color-white);
  width: 33rem;
  height: 4.88rem;
}
.ios-android-cross-container {
  position: absolute;
  top: 28.75rem;
  left: 4.56rem;
  font-weight: 600;
}
.box,
.box-1 {
  position: absolute;
}
.box-1 {
  top: 0;
  left: 3.13rem;
  width: 41.63rem;
  height: 40.38rem;
  font-family: var(--font-inherit);
}
.box {
  top: 202.25rem;
  left: 12.44rem;
  width: 96.06rem;
  height: 253.22rem;
  text-align: left;
  font-size: var(--font-inherit);
}
.services-we-provide {
  position: absolute;
  top: 190.63rem;
  left: 39.69rem;
  font-size: 3.31rem;
  font-weight: 600;
}
.full-view-servise-page-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 120.06rem;
  height: 28.56rem;
}
.full-view-servise-page-child1 {
  position: absolute;
  top: 1.63rem;
  left: 105.94rem;
  border-radius: 21px;
  width: 10.13rem;
  height: 3rem;
}
.services4 {
  position: absolute;
  top: 13.38rem;
  left: 43.06rem;
  color: var(--color-white);
}
.about,
.pricing {
  position: absolute;
  height: 2.88rem;
}
.pricing {
  top: 0;
  left: 17.06rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.38rem;
}
.about {
  left: 0;
  width: 5.63rem;
}
.about,
.contact,
.services5 {
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact {
  position: absolute;
  left: 24.75rem;
  width: 7.38rem;
  height: 2.88rem;
}
.services5 {
  left: 8rem;
  width: 8rem;
}
.blogs1,
.nav-bar,
.services5 {
  position: absolute;
  height: 2.88rem;
}
.blogs1 {
  top: 0;
  left: 35.06rem;
  font-family: var(--font-montserrat);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.25rem;
}
.nav-bar {
  top: 2.69rem;
  left: 37.44rem;
  width: 39.31rem;
  font-size: var(--font-size-4xl);
  font-family: var(--font-inter);
}
.gbjbuzz-logo-2 {
  position: absolute;
  top: 2.13rem;
  left: 2.56rem;
  border-radius: var(--br-xs);
  width: 8.88rem;
  height: 5.06rem;
  object-fit: cover;
}
.xpan-buzz {
  position: absolute;
  top: 266.72rem;
  left: 88rem;
  filter: blur(50px);
  width: 74.43rem;
  height: 68.04rem;
  transform: rotate(-20.37deg);
  transform-origin: 0 0;
  opacity: 0.8;
}
.portfolio {
  position: absolute;
  top: 2.25rem;
  left: 108.06rem;
  font-size: var(--font-size-4xl);
  font-family: var(--font-inter);
}
.circle-icon2,
.image-44-icon1 {
  position: absolute;
  top: 123.19rem;
  left: 105.94rem;
  width: 14.06rem;
  height: 24.45rem;
  object-fit: cover;
  opacity: 0.6;
}
.image-44-icon1 {
  top: 163.87rem;
  left: 59.42rem;
  width: 19.77rem;
  height: 27.84rem;
  display: none;
  opacity: 0.7;
}
.block-x-glass {
  position: absolute;
  top: -0.75rem;
  left: 27.63rem;
  border-radius: var(--br-13xl);
  width: 65.75rem;
  height: 36.38rem;
}
.blockx-buzz {
  margin-block-start: 0;
  margin-block-end: 4px;
}
.blockchain-based-services {
  margin: 0;
  font-size: var(--font-size-24xl);
  font-weight: 600;
}
.blockx-buzz-blockchain-based-container {
  position: absolute;
  top: 1.69rem;
  left: 46.49rem;
}
.text-4-txt-container {
  line-break: anywhere;
  width: 100%;
}
.text-4 {
  position: absolute;
  top: 13.19rem;
  left: 30.18rem;
  font-size: var(--font-size-19xl);
  display: flex;
  align-items: center;
  width: 56.81rem;
  height: 17.5rem;
}
.block-x-buzz1 {
  position: absolute;
  top: 3.44rem;
  left: 0;
  width: 21.25rem;
  height: 24.31rem;
  object-fit: cover;
}
.block-x-buzz {
  position: absolute;
  top: 150.63rem;
  left: 20.5rem;
  width: 92.63rem;
  height: 34.88rem;
  text-align: justify;
}
.xpan-buzz-icon {
  position: absolute;
  top: 130.36rem;
  left: 11.17rem;
  width: 38.02rem;
  height: 28.07rem;
  object-fit: cover;
  display: none;
  opacity: 0.8;
}
.glass-13-icon {
  position: absolute;
  top: -0.75rem;
  left: -0.75rem;
  border-radius: var(--br-13xl);
  width: 65.25rem;
  height: 37.19rem;
}
.text-3 {
  position: absolute;
  top: 14.88rem;
  left: 4.13rem;
  display: flex;
  align-items: center;
  width: 57.81rem;
}
.edtech-and-training {
  margin: 0;
  font-size: var(--font-size-23xl);
  font-weight: 600;
}
.libex-buzz1 {
  position: absolute;
  top: 1.5rem;
  left: 4.81rem;
  text-align: left;
  display: flex;
  align-items: center;
  width: 38.99rem;
  font-size: var(--font-size-67xl);
}
.libex-buzz3 {
  position: absolute;
  top: 8.84rem;
  left: 69.41rem;
  width: 19.17rem;
  height: 22.5rem;
  object-fit: cover;
}
.libex-buzz {
  position: absolute;
  top: 113.31rem;
  left: 6.38rem;
  width: 88.57rem;
  height: 35.69rem;
  text-align: justify;
  font-size: var(--font-size-19xl);
}
.libex-buzz-1 {
  position: absolute;
  top: 80rem;
  left: 84.26rem;
  width: 20.01rem;
  height: 23.6rem;
  object-fit: cover;
  display: none;
  opacity: 0.8;
}
.glass-14-icon {
  position: absolute;
  top: -0.75rem;
  left: 26.94rem;
  border-radius: var(--br-13xl);
  width: 69.25rem;
  height: 35.94rem;
}
.text-2 {
  position: absolute;
  top: 11.88rem;
  left: 30.24rem;
  display: flex;
  align-items: center;
  width: 63.94rem;
  height: 22.81rem;
}
.block-x-buzz2 {
  position: absolute;
  top: 7.13rem;
  left: 0;
  width: 21.54rem;
  height: 22.5rem;
  object-fit: cover;
}
.i-buzz,
.i-buzz-ai-container {
  position: absolute;
  top: 0.44rem;
  left: 51.13rem;
  text-align: left;
  font-size: var(--font-size-67xl);
}
.i-buzz {
  top: 75.69rem;
  left: 15.88rem;
  width: 95.44rem;
  height: 34.69rem;
  text-align: justify;
  font-size: var(--font-size-19xl);
}
.ellipse-div {
  position: absolute;
  top: 224.81rem;
  left: 43.88rem;
  border-radius: 50%;
  background-color: rgba(255, 209, 35, 0.75);
  filter: blur(500px);
  width: 32.5rem;
  height: 27.19rem;
}
.glass-15-icon {
  position: absolute;
  top: -0.75rem;
  left: -0.75rem;
  border-radius: var(--br-13xl);
  width: 73.44rem;
  height: 41.13rem;
}
.block-x-buzz3 {
  position: absolute;
  top: 42.67rem;
  left: 25.44rem;
  width: 21.35rem;
  height: 33.06rem;
  object-fit: cover;
  display: none;
  opacity: 0.6;
}
.text1 {
  position: absolute;
  top: 14.88rem;
  left: 3.19rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 66.31rem;
}
.xpan-buzz2 {
  margin-block-start: 0;
  margin-block-end: 5px;
}
.xpan-buzz-digital-container {
  position: absolute;
  top: 1.19rem;
  left: 7.06rem;
  text-align: left;
  font-size: var(--font-size-69xl);
}
.xpan-buzz-icon1 {
  position: absolute;
  top: 7.19rem;
  left: 66.19rem;
  width: 36.56rem;
  height: 24.88rem;
  object-fit: cover;
}
.xpan-buzz1 {
  position: absolute;
  top: 33.56rem;
  left: 7.31rem;
  width: 102.75rem;
  height: 39.63rem;
  text-align: justify;
  font-size: var(--font-size-17xl);
}
.full-view-servise-page {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 541.84rem;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-67xl);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
